{% extends 'base.html.twig' %}
{# {% include "navBar.html.twig" %} #}

{% block body %}

{% block navbar %}
    {% include "comics/navBar.html.twig" %}
{% endblock %}

    {% for message in app.flashes('success') %}
        <p>{{message}}</p>

    {% endfor %}

    {{ form_start(comicForm) }}
        {{ form_widget(comicForm) }}
        <button type="submit">Add</button>
    {{ form_end(comicForm) }}

{% endblock %}