
//colors
$body-back: rgb(47, 44, 44) ;
$main-color: #2d60be;
$txt-color: #fff;
$white: #fff;

$box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

$header-height: 8rem;

$border-radius: 30px;

//other devices
$mobile-width: 600px;
$tablet-width: 1024px;
