@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body {
    background-color: #FAF8FF;
    font-family: 'Hubballi', cursiva;
}

.header{
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content:space-between;

    font-weight: 700;
    font-size: 20px;

    &__mess{
        display: flex;
        flex-direction: row;
        margin-rigth: 10px;

        img{
            width: 25px;
            margin-right: 5px;
        }
    }

    &__login{
        margin-left: 10px;
    }

}

.navbar{

    margin-top: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-weight: 700;
    font-size: 20px;

    &__link{
        color: black;
        text-decoration: none;

        margin:15px;

    }

}

.comic-list{
    margin: 40px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    .card-img{
        width: 250px;
        border: 1px solid black;
    }

    .price{
        width: 20px;
    }
}

#comic_form{
    display: flex;
    flex-direction: column;
    margin: 40px 40px 20px 40px;

    div{
        display: flex;
        flex-direction: column;

        input{
            margin: 5px 0 20px 0;
        }
    }

}

form{
    button{
        margin-left: 40px;
    }
}

.details-card{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 40px 40px 20px 40px;

    &__main{
        img{
            width: 300px;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .price{
            width: 20px;
            margin-right: 5px;
        }

        &-btn{
            width: 200px;
        }
    }
}
